<ng-form name="task_form" novalidate>
	<label for="task_name">
		Task Name:<input type="text" name="task_name" ng-model="task.task_name" ng-minlength="3" ng-maxlength="25" required>
		<!--<div ng-messages="task_form.task_name.$error" ng-messages-include="error-messages.html" ng-show="task_form.task_name.$touched"></div>-->
		<p ng-show="task_form.task_name.$invalid && !task_form.task_name.$pristine && task_form.task_name.$touched">Task name is required.</p>
	</label>
	<label for="task_length">
		Time Consumptionj(min):<input type="number" name="task_length" ng-model="task.task_length" min="0" max="1440" required>
		<!-- <div ng-messages="task_form.task_length.$error" ng-messages-include="error-messages.html" ng-show="task_form.task_length.$touched"></div> -->
		<p ng-show="task_form.task_length.$invalid && !task_form.task_length.$pristine && task_form.task_length.$touched">Task Consumption is required.</p>
	</label>
	<label for="task_location">
		Task Location:<input type="text" name="task_location" ng-model="task.task_location" required>
		<!-- <div ng-messages="task_form.task_location.$error" ng-messages-include="error-messages.html" ng-show="task_form.task_location.$touched"></div> -->
		<p ng-show="task_form.task_location.$invalid && !task_form.task_location.$pristine && task_form.task_location.$touched">Task Location is required.</p>
	</label> 
	<button ng-click="addTaskToSesRoutine(); task_form.$setPristine();task_form.$setUntouched()" ng-disabled="task_form.$pristine || !task_form.$dirty || task_form.$invalid" type="submit">Create!</button>
	<button ng-click="task_form.$setPristine();task_form.$setUntouched();clearForm()" type="submit">Clear</button>


</ng-form>

<div id="printContent">
	<ul>
		<li ng-repeat="task in routine">
			{{task.task_name}},{{task.task_length}}
			<button ng-click="removeTask(task.task_name)">Remove Task</button>
		</li>
	</ul>
</div>
<br />

<div ng-show="routine.length">
	<ng-form name="save_routine_form">
		<label for="save_Routine">
			Save your routine above?
			<button ng-click="createRoutine()" >Create my routine!</button>
		<label>
	</ng-form>
</div>

<button ng-click="removeAllTask()" ng-show="routine.length > 1">Remove all task?</button>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
        width: 50;
      }
      /* Optional: Makes the sample page fill the window. */
      
    </style>
<div id="map"></div>

<ng-form name='destinationForm'>
	<label for="location_origin">
		<input type="text" name='location_origin' ng-model="address.location_origin">
	</label>
	<label for="location_destination">
		<input type="text" name='location_destination' ng-model="address.location_destination">
	</label>
	<button ng-click='getNewDistance(address.location_origin,address.location_destination)'>Test Me!</button>
</ng-form>
