<form>
	<label for="task_name">
		Task Name:<input type="text" name="task_name" ng-model="task.task_name" id="test" value=''>
	</label>
	<label for="task_length">
		Time Consumption:<input type="text" name="task_length" ng-model="task.task_length">
	</label>
	<label for="task_location">
		Task Location:<input type="text" name="task_location" ng-model="task.task_location">
	</label> 
	<button ng-click="addTaskToSesRoutine()">Test Me!</button>
	<button ng-click="createRoutine()">Create a Routine</button>
</form>