.createRoutine{
	background:#e6e6e6;
	top: $partialTopSpacing;
	#sideTab{
		width:0px;
		position: absolute;
		background: #000;
		transition: all .2s;
		height: 100%;
		z-index: 5;
		.prefillOptions{
			display:none;
			#closeTab{
				color: #fff;
			    float: right;
			    margin: -5px 5px;
			    cursor: pointer;
			    display: inline-block;
			    i{
			        font-size: 3em;
				    float: right;
				    margin: 5px;
			    }
			}
			> label{
				clear: both;
				width: 100%
			}
			> p{
		    	font-size: 1.8em;
			    text-align: left;
			    padding-left: 10px;
			    bottom: -9px;
			    display: inline-block;
			    color: #fff;
			}
			select{
				width: 100%;
    			font-size: 2em;
			}
		}
	}
	#openSide{
		font-size: 1.5em;
	    cursor: pointer;
	    margin: 10px;
	    top: 6px;
	    text-transform: uppercase;
	    font-weight: 700;
	    display: inline-block;
	}
	.taskForm{
		display: block;
		width:80%;
		margin:0 auto;
		label{
			display: block;
			max-width: 100%;
			margin-bottom: 10px;
			font-weight: 800;
			font-size:2em;
			input{
				width: 54%;
			    float: right;
			    height: 30px;
			    border: 1px solid #a4a4a4;
			    border-radius: 5px;
			}
		}
		button{
			float: right;
		    font-size: 2em;
		    padding: 8px;
		    margin: 4px;
		    border-radius: 5px;
		}
		#taskFormHeader{
			text-align: center;
		    font-size: 2.5em;
		    font-weight: 700;
		    text-transform: uppercase;
		}
	}
	#printContent{
		clear: both;
	    width: 80%;
	    margin: 0 auto;
	    display: block;
	    font-size: 2em;
	    top: 15px;
	    li{
	    	margin: 17px 0px;
    		border-bottom: 1px solid;
	    }
	    button{
	    	float: right;
		    padding: 5px;
		    border-radius: 5px;
		    background: #ce3737;
		    color: #fff;
		    text-transform: uppercase;
		    border: 1px solid #b0aaaa;
		    box-shadow: 4px 5px 5px #5f5e5e;
		    bottom: 15px;
	    }
	}
	#removeAllTask{
		width: 80%;
	    margin: 0 auto;
	    clear: both;
	    margin: 0 auto;
	    font-size: 2em;
	    button{
	    	float: right;
		    padding: 5px;
		    border-radius: 5px;
		    background: red;
		    color: #fff;
		    text-transform: uppercase;
		    border: 1px solid #b0aaaa;
		    box-shadow: 4px 5px 5px #5f5e5e;
	    }
	}
	#routineCreationForm{
	    width: 80%;
	    margin: 0 auto;
	    display: block;
	    clear: both;
	    font-size: 2em;
	    >p{
	    	display:inline-block;
	    }
	    button{
	    	float:right;
	    }
	}
	#totalTime{
		display: block;
	    right: -1px;
	    position: relative;
	    text-align: center;
	    width: 80%;
	    margin: 0 auto;
	    font-size: 2em;
	    clear: both;
	    text-transform: uppercase;
	    span{
	    	color:#2c992f;
	    }
	}
	#mapWrapper{
		position: relative;
		margin: 0 auto;
		display: block;
		padding-bottom: 56.6%;
		padding-left:10px;
		#map{
			position:absolute;
			width:98%;
			height: 98%;
		}	
	}
	
}