.createRoutine{
	background:#f3f3f3;
	top: $partialTopSpacing;
	#sideTab{
		position: absolute;
	    background: rgba(51, 122, 183, 0.88);
	    transition: all .5s;
	    height: 99%;
	    z-index: 5;
	    border-radius: 0px 15px 15px 0px;
	    border: 1px solid #b4b4b4;
	    box-shadow: 5px 5px 5px #424242;
		.prefillOptions{
			display:none;
			#closeTab{
				color: #fff;
			    float: right;
			    margin: -5px 5px;
			    cursor: pointer;
			    display: inline-block;
			    i{
			        font-size: 3em;
				    float: right;
				    margin: 5px;
			    }
			}
			> label{
				clear: both;
				width: 100%
			}
			> p{
		    	font-size: 1.8em;
			    text-align: left;
			    padding-left: 10px;
			    bottom: -9px;
			    display: inline-block;
			    color: #fff;
			}
			select{
				width: 100%;
    			font-size: 2em;
			}
		}
	}
	#openSide{
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    background: #ffffff;
    color: #3c3c3c;
    text-transform: uppercase;
    border: 1px solid #b0aaaa;
    box-shadow: 4px 5px 5px #5f5e5e;
    font-size: 1.7em;
    margin: 10px 0px 10px 15px;
	}
	.taskForm{
		display: block;
		width:85%;
		margin:0 auto;
		label{
			display: block;
			max-width: 100%;
			margin-bottom: 10px;
			font-size:1.7em;
			
			input{
				width: 54%;
			    float: right;
			    height: 30px;
			    border: 1px solid #a4a4a4;
			    border-radius: 5px;
			    font-family: $Chivo;
			}
		}
		button{
			float: right;
		    font-size: 2em;
		    padding: 8px;
		    margin: 4px;
		    border-radius: 5px;
		    background: #fff;
		    border: 1px solid #747474;
		}
	}
	#printContent{
		clear: both;
	    width: 85%;
	    margin: 0 auto;
	    display: block;
	    top: 15px;
	    li{
	    	margin: 17px 0px;
    		border-bottom: 1px solid;
    		font-size:1.5em;
    		span{
    			font-family: $Chivo;
    			font-weight: 800;
    		}
	    }
	    button{
	    	float: right;
		    padding: 5px 25px 5px 5px;
		    border-radius: 5px;
		    background: $primary-red;
		    color: #fff;
		    text-transform: uppercase;
		    border: 1px solid #b0aaaa;
		    box-shadow: 4px 5px 5px #5f5e5e;
		    bottom: 15px;
	    }
	}
	#removeAllTask{
		width: 85%;
	    margin: 0 auto;
	    clear: both;
	    margin: 0 auto;
	    font-size: 2em;
	    button{
	    	float: right;
		    padding: 8px;
		    margin: 4px;
		    border-radius: 5px;
		    background: #fff;
		    border: 1px solid #747474;
	    }
	}
	#routineCreationForm{
	    width: 85%;
	    margin: 0 auto;
	    display: block;
	    clear: both;
	    >h2{
	    	top:10px;
	    }
	    button{
	    	float: right;
		    padding: 5px 35px 5px 5px;
		    border-radius: 5px;
		    background: $primary-green;
		    color: #fff;
		    text-transform: uppercase;
		    border: 1px solid #b0aaaa;
		    box-shadow: 4px 5px 5px #5f5e5e;
		    font-size: 1.7em;
	    }
		label{
	    	display: inlne-block;
		    max-width: 100%;
		    margin-bottom: 10px;
		    font-size: 1.7em;
		    input{
		    	font-family: $Chivo;
		    }
	    }

	}
	#totalTime{
		display: block;
	    right: -1px;
	    position: relative;
	    text-align: center;
	    width: 85%;
	    margin: 0 auto;
	    clear: both;
	    text-transform: uppercase;
	    padding: 30px 0px;
	    span{
	    	color:#2c992f;
	    }

	}
	#mapWrapper{
		position: relative;
		margin: 0 auto;
		display: block;
		padding-bottom: 56.6%;
		padding-left:10px;
		#map{
			position:absolute;
			width:98%;
			height: 98%;
		}	
	}
	
}