@import 'variables';
@import 'nav_menu/normalize';
@import 'nav_menu/navbar';
@import 'nav_menu/component';
@import 'pages/Create-A-Routine';

body{
	display: block;
	max-width: 1120px;
	margin:0 auto;
	font-size: 10%;
}

