#navbar{
	margin-top: 5.5em;
	font-family: $Fira-Sans-Extra-Condensed;
}
#profileSiloutte{
	position: absolute;
    bottom: 0px;
    margin: 0px 15px 4px 15px;
    z-index:1;
	i{
		//bottom: -12px;
		font-size: 4em;
		vertical-align: bottom;
	}
	p{
		font-size: 2em;
    	display: inline-block;
    	//vertical-align: text-top;
    	bottom:-18px;
	}
}
#logOut{
		position: absolute;
	    right: 0;
	    margin: 10px 15px;
	    bottom: -20px;
	    font-size: 2em;
	}